## Data Exploration Analysis
In this section the data is going to be explored and identify the insights.

In [1]:
# importing library
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
#import mplfinance as mpf
import seaborn as sns
from IPython.display import Image
from IPython.display import Markdown, display, Image, display_html
from scipy.stats import skew

In [4]:
# path
import os
import sys
import warnings

In [5]:
sns.set()
warnings.filterwarnings("ignore")
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
pd.set_option("expand_frame_repr", False)
pd.set_option('display.float_format', '{:.2f}'.format)

In [6]:
sys.path.append(os.path.abspath(os.path.join('../scripts')))

## Data Sources 
There are two datasets available for this project.
- The first one is the table that contains information about the completed orders
>- Trip ID          
>- Trip Origin       
>- Trip Destination  
>- Trip Start Time   
>- Trip End Time    

- The second one is the table that contains delivery requests by clients (completed and unfulfilled) 
 >- id               
 >- order_id       
 >- driver_id        
 >- driver_action 
 >- lat            
 >- lng            
 >- created_at    
 >- updated_at

In [7]:
#  reading the second dataset
df_nb = pd.read_csv('../data/nb.csv')

In [8]:
df_nb.head()

   Trip ID                         Trip Origin                 Trip Destination      Trip Start Time        Trip End Time
0   391996  6.508813001668548,3.37740316890347      6.650969799999999,3.3450307  2021-07-01 07:28:04  2021-07-01 07:29:37
1   391997                 6.4316714,3.4555375  6.4280814653326,3.4721885847586  2021-07-01 06:38:04  2021-07-01 07:07:28
2   391998         6.631679399999999,3.3388976      6.508324099999999,3.3590397  2021-07-01 06:21:02  2021-07-01 07:02:23
3   391999         6.572757200000001,3.3677082      6.584881099999999,3.3614073  2021-07-01 07:16:07  2021-07-01 07:29:42
4   392001                 6.6010417,3.2766339              6.4501069,3.3916154  2021-07-01 09:30:59  2021-07-01 09:34:36

In [12]:
from geopy import distance

georgia_aquarium = (33.76326745, -84.39511726814364)
stone_mountain = (33.804504, -84.1587461)

#print(distance.distance(df_nb['Trip Origin'], df_nb['Trip Destination']).km)
#print(distance.distance(georgia_aquarium, stone_mountain).km)

In [13]:
# separate latitide and longitide from the same column 
df_nb['Trip_Origin_lat'] = df_nb['Trip Origin'].apply(lambda x: str(x).split(',')[0])
df_nb['Trip_Origin_lng'] = df_nb['Trip Origin'].apply(lambda x: str(x).split(',')[1])

In [14]:
df_nb.head()

   Trip ID                         Trip Origin                 Trip Destination      Trip Start Time        Trip End Time    Trip_Origin_lat   Trip_Origin_lng
0   391996  6.508813001668548,3.37740316890347      6.650969799999999,3.3450307  2021-07-01 07:28:04  2021-07-01 07:29:37  6.508813001668548  3.37740316890347
1   391997                 6.4316714,3.4555375  6.4280814653326,3.4721885847586  2021-07-01 06:38:04  2021-07-01 07:07:28          6.4316714         3.4555375
2   391998         6.631679399999999,3.3388976      6.508324099999999,3.3590397  2021-07-01 06:21:02  2021-07-01 07:02:23  6.631679399999999         3.3388976
3   391999         6.572757200000001,3.3677082      6.584881099999999,3.3614073  2021-07-01 07:16:07  2021-07-01 07:29:42  6.572757200000001         3.3677082
4   392001                 6.6010417,3.2766339              6.4501069,3.3916154  2021-07-01 09:30:59  2021-07-01 09:34:36          6.6010417         3.2766339

In [15]:
df_nb['Trip_Destn_lat'] = df_nb['Trip Destination'].apply(lambda x: str(x).split(',')[0])
df_nb['Trip_Destn_lng'] = df_nb['Trip Destination'].apply(lambda x: str(x).split(',')[1])

In [16]:
df_nb.head()

   Trip ID                         Trip Origin                 Trip Destination      Trip Start Time        Trip End Time    Trip_Origin_lat   Trip_Origin_lng     Trip_Destn_lat   Trip_Destn_lng
0   391996  6.508813001668548,3.37740316890347      6.650969799999999,3.3450307  2021-07-01 07:28:04  2021-07-01 07:29:37  6.508813001668548  3.37740316890347  6.650969799999999        3.3450307
1   391997                 6.4316714,3.4555375  6.4280814653326,3.4721885847586  2021-07-01 06:38:04  2021-07-01 07:07:28          6.4316714         3.4555375    6.4280814653326  3.4721885847586
2   391998         6.631679399999999,3.3388976      6.508324099999999,3.3590397  2021-07-01 06:21:02  2021-07-01 07:02:23  6.631679399999999         3.3388976  6.508324099999999        3.3590397
3   391999         6.572757200000001,3.3677082      6.584881099999999,3.3614073  2021-07-01 07:16:07  2021-07-01 07:29:42  6.572757200000001         3.3677082  6.584881099999999        3.3614073
4   392001                 6.6010417,3.2766339              6.4501069,3.3916154  2021-07-01 09:30:59  2021-07-01 09:34:36          6.6010417         3.2766339          6.4501069        3.3916154

In [19]:
import geopy
def distance(row):
    return geopy.distance.distance((row.Trip_Origin_lat, row.Trip_Origin_lng),(row.Trip_Destn_lng, row.Trip_Destn_lng)).km

df_nb['Distance']= df_nb.apply(lambda r: distance(r), axis=1)

In [29]:
# saving 
df_nb.to_csv('../data/Trip_data1.csv', index=False)

In [23]:
df_nb.head(1)

   Trip ID                         Trip Origin             Trip Destination      Trip Start Time        Trip End Time    Trip_Origin_lat   Trip_Origin_lng     Trip_Destn_lat Trip_Destn_lng  Distance
0   391996  6.508813001668548,3.37740316890347  6.650969799999999,3.3450307  2021-07-01 07:28:04  2021-07-01 07:29:37  6.508813001668548  3.37740316890347  6.650969799999999      3.3450307    349.88

## Adding Speed from Origin to Destination in seconds

In [27]:
# changing to datatime 
df_nb['Trip Start Time']= pd.to_datetime(df_nb['Trip Start Time'])
df_nb['Trip End Time']= pd.to_datetime(df_nb['Trip End Time'])

In [31]:
df_nb['Speed']= (df_nb['Trip End Time']-df_nb['Trip Start Time']).astype('timedelta64[s]')

In [32]:
df_nb.head(2)

   Trip ID                         Trip Origin                 Trip Destination     Trip Start Time       Trip End Time    Trip_Origin_lat   Trip_Origin_lng     Trip_Destn_lat   Trip_Destn_lng  Distance   Speed
0   391996  6.508813001668548,3.37740316890347      6.650969799999999,3.3450307 2021-07-01 07:28:04 2021-07-01 07:29:37  6.508813001668548  3.37740316890347  6.650969799999999        3.3450307    349.88   93.00
1   391997                 6.4316714,3.4555375  6.4280814653326,3.4721885847586 2021-07-01 06:38:04 2021-07-01 07:07:28          6.4316714         3.4555375    6.4280814653326  3.4721885847586    327.27 1764.00

In [9]:
!pip install haversine

Collecting haversine
  Downloading haversine-2.7.0-py2.py3-none-any.whl (6.9 kB)
Installing collected packages: haversine
Successfully installed haversine-2.7.0

In [10]:
# importing
import haversine as hs

In [11]:
# Calculating distance between two locations
loc1=(28.426846,77.088834)
loc2=(28.394231,77.050308)
hs.haversine(loc1,loc2)

5.229712941541709

In [ ]:
def distance_from(loc1,loc2): 
    dist=hs.haversine(loc1,loc2)
    return round(dist,2)

In [12]:
for _,row in df_nb.iterrows():
    df_nb['Distance']=df_nb[['Trip Origin', 'Trip Destination']].apply(lambda x: distance_from(row.(Trip Origin,Trip Destination),x))

In [13]:
!pip install geopy

Collecting geopy
  Downloading geopy-2.2.0-py3-none-any.whl (118 kB)
Collecting geographiclib<2,>=1.49
  Downloading geographiclib-1.52-py3-none-any.whl (38 kB)
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-1.52 geopy-2.2.0

In [16]:
#from geopy.distance import geodesic

In [ ]:

# def pandasVincenty(row):
#     '''calculate distance (m) between two lat&long points using the Vincenty formula '''

#     return geodesic((row.Trip Origin Origin, row.Trip Destination)).meters 


# df_nb['distance'] =  df_nb.apply(lambda r: pandasVincenty(r), axis=1)

By default the haversine function returns distance in km. If you want to change the unit of distance to miles or meters you can use unit parameter of haversine function as shown below:

In [8]:
df_nb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536020 entries, 0 to 536019
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Trip ID           536020 non-null  int64
 1   Trip Origin       536020 non-null  object
 2   Trip Destination  536020 non-null  object
 3   Trip Start Time   534369 non-null  object
 4   Trip End Time     536019 non-null  object
dtypes: int64(1), object(4)
memory usage: 20.4+ MB

In [18]:
df_nb['Trip Origin'][0]

'6.508813001668548,3.37740316890347'

In [ ]:
def distance(row):
    return geopy.distance.distance((row.start_lats, row.start_longs),(row.end_lats, row.end_longs)).mi

df_nb['miles_traveled']= df_nb.apply(lambda r: distance(r), axis=1)

## feature engineering  
- adding distance

In [9]:
df_loc = pd.read_csv('../data/driver_locations_during_request.csv')

In [10]:
df_loc.head()

,id,order_id,driver_id,driver_action,lat,lng,created_at,updated_at
0,1,392001,243828,accepted,6.602207,3.270465,NaN,NaN
1,2,392001,243588,rejected,6.592097,3.287445,NaN,NaN
2,3,392001,243830,rejected,6.596133,3.281784,NaN,NaN
3,4,392001,243539,rejected,6.596142,3.280526,NaN,NaN
4,5,392001,171653,rejected,6.609232,3.288800,NaN,NaN

In [12]:
df_loc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1557740 entries, 0 to 1557739
Data columns (total 8 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   id             1557740 non-null  int64
 1   order_id       1557740 non-null  int64
 2   driver_id      1557740 non-null  int64
 3   driver_action  1557740 non-null  object
 4   lat            1557740 non-null  float64
 5   lng            1557740 non-null  float64
 6   created_at     0 non-null        float64
 7   updated_at     0 non-null        float64
dtypes: float64(4), int64(3), object(1)
memory usage: 95.1+ MB

In [16]:
# dropping nul values 
df_loc.drop(['created_at', 'updated_at'], inplace=True, axis=1)

In [18]:
df_loc.shape

(1557740, 6)

In [19]:
# chagig datatypes of the nb table 
df_nb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536020 entries, 0 to 536019
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Trip ID           536020 non-null  int64
 1   Trip Origin       536020 non-null  object
 2   Trip Destination  536020 non-null  object
 3   Trip Start Time   534369 non-null  object
 4   Trip End Time     536019 non-null  object
dtypes: int64(1), object(4)
memory usage: 20.4+ MB

In [24]:
df_nb['Trip Origin'] =df_nb['Trip Origin'].astype(float)

In [22]:
# changing to datatime 
df_nb['Trip Start Time']= pd.to_datetime(df_nb['Trip End Time'])

In [23]:
df_nb['Trip End Time']= pd.to_datetime(df_nb['Trip End Time'])

In [25]:
df_nb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536020 entries, 0 to 536019
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Trip ID           536020 non-null  int64
 1   Trip Origin       536020 non-null  object
 2   Trip Destination  536020 non-null  object
 3   Trip Start Time   536019 non-null  datetime64[ns]
 4   Trip End Time     536019 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(2)
memory usage: 20.4+ MB

In [ ]:
## 
fig = plt.figure(figsize=(25, 25))
axs = [fig.add_subplot(4,2, i+1) for i in range(8)]

for i, column in enumerate(df_nb.columns[:-1]):
    sns.distplot(df_nb[df_nb.Outcome==1][column], ax=axs[i], color='darkorange', label='Yes')
    sns.distplot(df_nb[df_nb.Outcome==0][column], ax=axs[i], color='darkgreen', label='No')
    axs[i].set_title('Distribution for {}'.format(column),fontweight='bold', fontsize=20)
    axs[i].legend(fontsize=20)
plt.show()

ax = sns.distplot(df_nb['Outcome'], color='darkorange')
ax.set_title('Distribution for {}'.format('Outcome'),fontweight='bold', fontsize=15)
plt.show()